  @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Open+Sans&family=Oswald&family=Raleway:wght@500&display=swap');
.CartPage
{
    border: 2px grey;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1296px;
    width:90%;
    margin:0 auto;
    margin-top: 90px;

}
.CartProduct
{
    display: flex;
    border-bottom: 2px solid #0000008a;
    border-radius: 20px;
}
.ProductImageCover
{
    width: 25%;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    align-items: center;

}
.ProductImage
{
    width: 90%;
    border-radius: 10px;
    background-size: cover;
}
.CartProductDetails
{
    display: block;
    margin:10px;
    font-family: "";

}
.CartProductName
{
    margin: 10px;
}

.CartQuantity
{
    width: 35px;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 3px;
    color:#FFFFFF;
    margin: 0 auto;
}
.cartMainText
{
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 900;
}
.CartValues
{
    font-size: 20px;
    font-family: "Raleway";
    margin-left: 5px;
}
.PayableAmount
{
    font-size: 22px;
    font-family: "Raleway";
    margin: 10px;
}
.line-div {
    border-top: 1px solid #000; /* Adjust the color, width, and style as needed */
  }
  
.billing
{
    display: flex;
    margin: 10px;
}
.Greeting
{
    align-items: center;
    text-align: center;
}
.removeBtn
{
    background-color: #4CAF50;
    border-radius: 2px;
    padding:10px;
}
.deleteImageCover
{
    text-align: center;
}
.deleteImg
{
        text-align: center;
        width: 20px;
}
.Checkoutbtn_cover
{
    text-align: center;
    margin: 20px;
}
.CheckoutBtn
{
    background-color:#4CAF50;
    padding: 10px;
    font-family: "Open-Sans";
    font-size: 25px;
    border-radius: 20px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    justify-content: center;
    align-items: center !important;
    text-align: center;
    font-family: "open sans";
    padding-top:100px;
  }
  .popup {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
  }
  .actual
  {
    text-decoration: line-through;
  }