.ProductForm
{
   text-align: center;
}
.ProductInputs
{
    margin: 10px;
}
.ProductInputs input 
{
    margin: 10px !important;
}
.ProductInputs textarea
{
    margin-left: 10px;
}
.AddProducts
{
    margin-top: 130px;
}
.EditPopup
{
    background-color: rgba(0, 0, 0, 0.623);
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    font-size: x-large;
}
.Tittlebar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333;
    margin-top: 100px;
    color: white;
    padding: 10px;
}
.section {
    flex: 1;
    text-align: center;
  }
  .section:nth-child(1) {
    background-color: #000;
  }
  
  .section:nth-child(2) {
    background-color: #000;
  }
  
  .section:nth-child(3) {
    background-color: #000;
  }
  .edit-product-modal
  {
    background-color: #000;
    color: white;
  }