.ProductCards
{
    margin: 5px;
}
.ProductCard {
    border: 1px solid #ddd;
    padding: 15px;
    width: 330px; /* Set a fixed width for the card */
    height: auto;
    margin: 0 auto;
    /* background-color: #; */
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
  }
  .ProductImage {
    text-align: center;
    margin: 0 auto;
  }
  
.ImageAddToCart
{
    width: 40px;

}

.ProImage {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 150px; /* Set a maximum height for the image */
    object-fit: contain; /* Maintain aspect ratio without stretching */
  }
.ProductDetailsbtn
{
    display: flex;
    align-items: center;
}
.ProductPrice
{
    text-align: center;
}
.VDbtn
{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 20px;
    color:#FFFFFF;
    margin: 0 auto;
}
.VDbtn:hover
{
    background-color:#59f387fd;
}
.Quantity
{
    width: 50px;
    height: 25px;
    background-color: #061937;
    border-radius: 3px;
    color:#FFFFFF;
    margin: 0 auto;
}
.QuantityLabel
{
    margin: 5px;
    font-size: 20px;
    font-size: "Open Sans";

}
.QtyLabel
{
    font-family: "Raleaway";
    margin-right: 5px;
}

.Smalltag
{
    position: relative;
    top:0px;
    background-color: red;
    width: 35px;
    margin:-10px;

}
#triangle-topleft {
    position: relative;
    width: 0;
    height: 0;
    margin:-15px;
    border-top: 75px solid red; /* Adjust the size of the triangle */
    border-right: 150px solid transparent;
  }
  
  #triangle-topleft span {
    position: absolute;
   
    transform: translate(27%, -128%);
    color: white;
    font-size: 19px;
    font-weight: 600;
  }
  .OriginalPrice
  {
    margin-right: 20px;
    text-decoration: line-through;

  }
@media screen and (min-width:600px) {
    
}